#app-section {
  padding: 32px 80px 64px 80px;
  gap: 24px;
  border-radius: 32px 32px;
}

.info-box {
  display: grid;
  color: var(--off-white);
  grid-template-columns: 3fr 1fr;
  align-items: center;
  background-color: var(--purple);
  padding: 40px;
  gap: 40px;
  border-radius: 24px;
  opacity: 0px;
}

.available-platforms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.available-platforms img {
  cursor: pointer;
}

@media (max-width: 1200px) {
  #app-section {
    padding: 32px 60px 64px 60px;
  }
}

@media (max-width: 992px) {
  #app-section {
    padding: 32px 45px 64px 45px;
  }

  .info-box {
    grid-template-columns: 1fr;
  }

  .available-platforms {
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }

  .available-platforms img {
    width: 60%;
  }
}

@media (max-width: 640px) {
  #app-section {
    padding: 32px 24px;
    gap: 24px;
    border-radius: 32px;
  }
  .available-platforms {
    flex-direction: column;
    gap: 20px;
  }

  .available-platforms img {
    margin: 0 auto;
    width: 50%;
  }

  .info-box {
    color: var(--off-white);
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 16px;
    gap: 40px;
    border-radius: 24px;
    opacity: 0px;
  }
}
