#footer {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  padding: 40px 120px;
  gap: 40px;
}

.brands {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.brands a {
  display: flex;
  align-items: center;
}

.brands img {
  transition: transform ease-in-out 0.2s, filter ease-in-out 0.2s;
}

.brands img:hover {
  cursor: pointer;
  filter: brightness(1.5);
  transform: scale(1.2);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}

.footer-nav h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: var(--off-white);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 40px;
}

.footer-list li {
  color: var(--off-white);
  font-size: 20px;
  font-weight: 300;
  line-height: 23.56px;
  transition: transform ease-in-out 0.2s, filter ease-in-out 0.2s;
}

.footer-list li:hover {
  transform: scale(1.05);
  filter: brightness(1.3);
  cursor: pointer;
}

@media (max-width: 1200px) {
  #footer {
    padding: 40px 80px;
    gap: 30px;
  }
}

@media (max-width: 992px) {
  #footer {
    padding: 40px 60px;
    gap: 24px;
  }
}

@media (max-width: 768px) {
  #footer {
    padding: 24px;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    gap: 10px;
  }
}
