#hero-lp {
  border-radius: 0px 0px 32px 32px;
  padding: 24px 80px 19px 80px;
  background-color: var(--black);
  position: relative;
  z-index: 2;
}

#hero-bg {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: 10px;
}

#hero-title {
  color: var(--white);
  font-size: 48px;
  font-weight: 400;
  text-align: left;
  line-height: 56.88px;
  letter-spacing: 0.02em;
  text-underline-position: from-front;
  text-decoration-skip-ink: none;
}

.hero-text {
  width: 70%;
  color: var(--off-white);
  font-size: 24px;
  font-weight: 300;
  line-height: 27.02px;
  letter-spacing: 0.02em;
}

.hero-left div {
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.hero-left div img {
  object-fit: scale-down;
}

@media (max-width: 375px) {
  #hero-lp {
    padding: 16px 24px;
  }

  #hero-bg {
    position: absolute;
    bottom: 0;
    right: -85%;
    width: 140%;
  }

  .hero-left {
    width: 60%;
  }

  #hero-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.44px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .hero-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 18.02px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .hero-left div {
    width: 75%;
    justify-content: right;
    margin-top: 10px;
  }

  .hero-left div img {
    width: 52px;
    margin: 0 0 0 auto;
  }
}
