.nav-menu {
  background-color: transparent;
  display: flex;
  gap: 36px;
  padding: 24px 80px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-list-item {
  color: var(--white);
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.56px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
