.nav-menu {
  background-color: var(--black);
  display: flex;
  gap: 36px;
  position: relative;
  padding: 24px 80px;
  z-index: 1;
}

#menu-bars {
  display: none;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-list-item {
  color: var(--white);
  font-size: 24px;
  font-weight: 200;
  line-height: 23.56px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (max-width: 375px) {
  #menu-bars {
    display: block;
    width: 64px;
  }

  .nav-menu {
    justify-content: left;
    padding: 16px 24px;
    gap: 8px;
  }

  .nav-menu img {
    width: 100px;
    object-fit: scale-down;
  }

  .nav-list {
    position: absolute;
    background-color: red;
    top: 46px;
    display: none;
    flex-direction: column;
  }
}
